<div class="container-fluid border text-center text-md-start py-4 bg-dark">

    <center><h1 class="h3-responsive text-light font-weight-bold">Contact Us</h1></center>
      
    <div class="row m-0 my-4" id="contact_form_cont" style="min-height: 50vh;">

      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto rounded rounded-2 text-responsive">

        <div class="col-11 mx-auto rounded rounded-2 p-2  text-responsive m-2 text-center d-flex flex-column justify-content-between" id="contact_form" style="height: 400px;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;">

          <div class="mt-2">
            <h1 class="h4-responsive text-dark m-0 font-italic font-weight-bold">Got A Question ?</h1>
            
          </div>
  
  
          <h3 class="text-dark text-break  font-italic">
            <q class="mb-0">
            we are here for help and answer question you might have we want to here from you
            </q>
        </h3>
        
        </div>
        
      </div>

      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto">
            
        <div class="col-11 mx-auto bg-light pb-3 pt-3 rounded rounded-2 p-4 m-2" style="height: 400px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; color: black;">

          <form action="/feedback" method="post">

            <div class="row mb-3">
              <div class="col-6">
                <div class="form-group w-100">
                  <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">
                </div>
              </div>
              <div class="col-6"> 
                  <div class="form-group w-100">
                    <input type="email" class="form-control" id="email" placeholder="Email"style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">
                  </div>
              </div>
            </div>
          
            <div class="row mb-3">
              <div class="col-6">
                  <div class="form-group w-100">
                    <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Phone" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">
                  </div>
              </div>
              <div class="col-6"> 
                        
                  <div class="form-group w-100">
                    <input type="email" class="form-control" id="subject" placeholder="Subject"style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">
                  </div>
              </div>
            </div>
          
            <div class="form-group w-100 rounded rounded-circle mb-3">
              <textarea name="message" id="textarea" cols="30" rows="7" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">Message</textarea>
            </div>
            <button type="submit" class="btn btn-info w-100" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none;">Submit</button>
            <br>
        
          </form>


        </div>
      
      </div>
      
    </div>
  
  </div>