<div class="container-fluid col-md-3">
    <nav class="row d-flex flex-sm-column flex-wrap justify-content-center align-items-center h-100 w-100 p-0 m-0">

       <div class="col-12 d-flex flex-sm-column flex-wrap justify-content-around align-items-center p-2 w-100 h-100 border bg-secondary text-responsive" style="border-radius: 15px;">

           <div class="d-flex flex-column justify-content-between align-items-center text-responsive m-sm-4 px-md-3 py-md-2 px-2" style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">

               <a class="" href="/"><i class="fa-solid fa-house m-2" style="font-size:25px"></i>
               </a>
               <a class="" href="/"><span style="font-size:12px"><b>Jobs</b></span></a>
             
           </div>
           
           <div class="d-flex flex-column justify-content-between align-items-center text-responsive m-sm-4 px-md-3 py-md-2 px-3" style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
             
              <a class="" href="/jobs">
               <i class="fa-solid fa-plus m-2" style="font-size:25px"></i>
              </a>
              <a class="" href="/jobs">
               <span style="font-size:12px"><b>Apply</b></span>
              </a>
            
           </div>
           <div class="d-flex flex-column justify-content-between align-items-center text-responsive m-sm-4 px-md-3 py-md-2 px-2" style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
                
              <a class="" href="/view-apply-jobs">       
               <i class="fa-solid fa-layer-group m-2" style="font-size:25px"></i>
              </a>
              <a class="" href="/view-apply-jobs">
               <span style="font-size:12px"><b>Applied</b></span>
              </a>
            
           </div>
           <div class="d-flex flex-column justify-content-between align-items-center text-responsive m-sm-4 px-md-3 py-md-2 px-2" style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
               <a class="" href="/post_job">        
                   <i class="fa-solid fa-marker m-2" style="font-size:25px"></i>
               </a>
               <a class="" href="/post_job"><span style="font-size:12px"><b>Post</b></span>
               </a>
           
           </div>
           <div class="d-flex flex-column justify-content-between align-items-center text-responsive  m-sm-4 px-md-3 py-md-2 px-2" style="border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
               <a class="" href="/post_job_by_id">
                   <i class="fa-solid fa-layer-group m-2" style="font-size:25px"></i>
               </a>
               <a class="" href="/post_job_by_id"><span style="font-size:12px"><b>Posted</b></span>
               </a>
           </div>
           
       </div>
   </nav>   
</div> 
