<section id="Error" class="container-fluid w-100 border d-flex align-items-center justify-content-center">
    <div id="homepage_cont" class="row p-0 m-0 d-flex align-items-center justify-content-center  flex-row" >
      <div id="login_cont" class="d-flex align-items-center justify-content-center flex-column border border-light p-3 my-3 text-center">
         <img src="/img/error.png" alt="page not found" height="200px">
        <h3 class="text-dark text-responsive">Something Went Wrong! <a href="/">Home</a></h3>
      
      </div>
    </div>
  </section>