<section id="login_sec" class="container-fluid w-100 d-flex align-items-center justify-content-center bg-light">
    <div id="homepage_cont" class="row p-0 m-0 d-flex align-items-center justify-content-center  flex-row" >
      <div id="login_cont" class="d-flex align-items-center justify-content-center flex-column p-3 my-3 text-dark text-responsive rounded-2" style="background-color: #f1eeeed3;">
        <form action="/login" method="post">
          <h3 class="text-center py-3">Login/Sign-in</h3>
          <hr class="border">
          <div class="form-group py-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="test@gmail.com" placeholder="Enter email">
          </div>
      
          <div class="form-group py-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" value="123456" name="password" placeholder="Password">
          </div>
      
       <button type="submit" class="btn btn-info my-3">Submit</button><br>

    <span>don't have account register now ? </span><a class="btn btn-sm btn-info" href="/register">register now</a>
</form>
      </div>
    </div>
  </section>
  