<section id="register_sec" class="container-fluid w-100 d-flex align-items-center justify-content-center bg-light">
    <div id="homepage_cont" class="row p-0 m-0 d-flex align-items-center justify-content-center flex-row" >
      <div id="register_cont" class="d-flex text-dark align-items-center justify-content-center flex-column border border-light rounded-3 p-3 my-3"style="background-color: #f1eeeed3;">
        <form action="/register" method="post">

          <h3 class="text-center">Register/Sign-up</h3>

          <hr class="border">

          <div class="form-group my-3">
              <label for="name">Enter Name</label>
              <input type="text" class="form-control" id="name" name="name" value="akash" placeholder="Enter Name">
            </div>
      
          <div class="form-group my-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="demo@gmail2.com" placeholder="Enter email">
          </div>
      
          <div class="form-group my-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="1234" placeholder="Password">
          </div>
      
      
          <button type="submit" class="btn btn-info my-3">Submit</button>
          <br>
      
          <span>already have account login now ?</span><a class="btn btn-sm btn-outline-info" href="/login">login now</a>
      </form>
      </div>
    </div>

  </section>
   