<header class="container-fluid w-100 pt-3 border border-danger d-flex align-items-center justify-content-center">
    <div id="homepage_cont" class="row p-0 m-0 d-flex align-items-center justify-content-center  flex-row" >
      <div id="homepage_msg_cont" class="d-flex align-items-center justify-content-center flex-column">
        <p class="m-0"><h3>Greetings and welcome to Job Store!</h3></p>
        <p class="m-0"> <h5>We are delighted to see you as a part of our community. Feel free to discover, interact, and collaborate with us to create something wonderful</h5></p>
        <button class="btn btn-outline-light"><a href="/">Explore</a></button>
      </div>
    </div>

  </header>
